#XfceNotifyWindow {
    background-color: #373737;
    border-radius: 1px;
    border: 6px solid #373737;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#373737, 1.15);
    border: 6px solid #373737;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #f7f7f7;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    font-weight: Bold;
    border: 1px solid shade(#373737, .80);
    box-shadow: none;
    background-image: none;
    background-color: shade(#373737, .95);
    color: #e8e8e8;
}

#XfceNotifyWindow button:hover {
    box-shadow: none;
    background-image: none;
    background-color: shade(#222222, .85);
    color: #ffffff;
}

#XfceNotifyWindow progressbar {
    border: 0px solid shade(#ff0000, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #59795E;
    border: 0px solid shade(#59795E, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#f7f7f7, 1.0),
                                      shade(#f7f7f7, 1.0)
                                      );
    border: 0px solid shade(#ffff00, 1.0);
    border-radius: 0px;
}
