#XfceNotifyWindow {
    background-color: #c6d3d8;
    border-radius: 1px;
    border: 1px solid #808080;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#c6d3d8, 1.05);
    border: 1px solid #cc666a;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #121212;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    font-weight: Bold;
    border: 1px solid shade(#c6d3d8, .80);
    box-shadow: none;
    background-image: none;
    background-color: shade(#c6d3d8, .95);
    color: #e8e8e8;
}

#XfceNotifyWindow button:hover {
    box-shadow: none;
    background-image: none;
    background-color: shade(#c6d3d8, .85);
    color: #ffffff;
}

#XfceNotifyWindow progressbar {
    border: 0px solid shade(#ff0000, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #cc666a;
    border: 0px solid shade(#cc666a, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#999999, 1.0),
                                      shade(#999999, 1.0)
                                      );
    border: 0px solid shade(#ffff00, 1.0);
    border-radius: 0px;
}
