Source: bunsen-themes
Section: x11
Priority: optional
Maintainer: Jens John <dev@2ion.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/bunsenlabs/bunsen-themes
Vcs-Browser: https://github.com/bunsenlabs/bunsen-themes
Vcs-Git: https://github.com/BunsenLabs/bunsen-themes.git

Package: bunsen-themes
Architecture: all
Depends: gtk2-engines-murrine, gtk2-engines-pixbuf, libgtk-3-0 (<< 3.20), ${misc:Depends}
Suggests: openbox, lightdm-gtk-greeter
Description: GTK, Openbox, and Li themes for Bunsen and Debian Jessie
 Made by hhh from the Crunchbang forums

