#XfceNotifyWindow {
    background-color: #CCC9C5;
    border-radius: 1px;
    border: 1px solid #CCC9C5;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#BDBAB6, 1.0);
    border: 1px solid #000000;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #262626;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    font-weight: Bold;
    border: 1px solid shade(#CCC9C5, .80);
    box-shadow: none;
    background-image: none;
    background-color: shade(#BDBAB6, 1.2);
    color: #d3dae3;
}

#XfceNotifyWindow button:hover {
    box-shadow: none;
    background-image: none;
    background-color: shade(#CCC9C5, 1.0);
    color: #ffffff;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #B32C49;
    border: 0px solid shade(#000000, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#3b3b3b, 1.0),
                                      shade(#3b3b3b, 1.0)
                                      );
    border: 0px solid shade(#ffff00, 1.0);
    border-radius: 0px;
}
